.restaurant {
    width: 100vw;
    height: 20vh;
margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    
}

.restaurant img {
    display: none;
}

.restaurant h2 {
    margin-left: 20px;
    color: #E21837;
    font-weight: bold;
    font-size: 2.0rem;
    margin-top: 20px;
    text-transform: capitalize;
    width: 200px;
}

.restaurant ul {
   
   

    margin-left: 34%;
    display: flex;
    background-color: #E21837;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

.restaurant ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
   
}

.restaurant ul li > button {
    border: none;
    background-color: #E21837;
    color: white;
}
#toggle{
    color: black;
}

.restaurant p {
    width: 150px;

}
#data{
    margin-left: 30px;

}

.restaurant span {
    color: #E21837;
    font-weight: bold;
}



@media (max-width: 700px) {
    #toggle{
        margin-right: 2%;
        color: white;
        margin-left: 20%;
        
    }
    .restaurant {
        width: 100vw;
        display: flex;
        margin-top: 10px;
    }
    .restaurant img {
        display: block;
        background-color: red;
        margin-left: 25%;
        margin-top: 2%;
        width: 40px; /* Adjust the width as needed */
        height: 40px; /* Maintain aspect ratio */
    }
    .restaurant h2 {
        font-size: 1rem;
    }
    .restaurant ul {
        display: block;
        height: 100vh;
        
        margin-left: 0%;
        margin-top: 0px;
    }
}
