
.App {
  text-align: center;
  overflow: hidden;
  background-color: black;
}


.restaurant ul {
  position: fixed;
  z-index: 9999999;
}
.cart{
  color: white;
  width: 100vw;
  height: auto;
  list-style: none;
  display: block;
}

.cart-text{
  color: white;
  position: absolute;
  z-index: 10000000;
}

.cart li{
  list-style: none;
}
#cart-btn{
  position: 'fixed';
  top: 38px;
  right: 20px;
  left: 74%;
  background-color: '#E21837';
  color: 'white';
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index:  1001;
}



@media (max-width: 900px) {
  #cart-btn{
    margin-top: 10vh;
    margin-right: 10%;
    position: relative;
  }

  #inp{
    width: 200px;
    height: 50px;
  }
  #btnn{
    width: 180px;
    margin: 20px;
    
  }
}
